*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;    

}
:root{
    --main-color: black;
    --second-color: orange;
    --text-color: white;
}
body {
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}
.page{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
.sn-main{        
    justify-content: center;
    align-content: start;
    padding: 0 20dvw;        
    /*border-radius: 10px;*/
    height: auto;            
}
.sn-sub{
    flex-grow: 1;          
    background-image: url("../../public/img/sobrenosBg.png"); 
    background-position: center;
    background-size: cover;        
    background-repeat: no-repeat;
    /*height: fill; */
}
.sn-h1{
    font-size: 2.5rem;
    color: var(--text-color);   
    padding: 0 !important;
}