*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.card-body{
    display: grid;
    place-content: center;
}
form{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;    
}
.Area-UpLoad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.Area-text{    
    & .form-Imagem{
       & .Imagem{
            width: 520px;
            height: 32px;
        }
    }
    & .form-Titulo{
        & .Titulo-Imagem{
            width: 600px;
            height: 32px;
        }    
    }
    & .form-Descrição{
        & .Descrição{
            width: 600px;
            height: 250px;
        }
    }
}
#ImagemUpLoad{
    width: 500px;
    height: 500px;
    object-fit: contain;
}